#-----------------------#
#JS.gitignore
#-----------------------#

node_modules/
#-----------------------#


#-----------------------#
###Python.gitignore
#-----------------------#

*.py[co]
#-----------------------



#-----------------------#
###Ruby.gitignore
#-----------------------#

*.rbc
#-----------------------



#-----------------------#
#Vim.gitignore
#-----------------------#

.*.sw[a-z]
.bak
*.un~
Session.vim
.ropeproject
.project
#-----------------------#
